qv-edx-trigger/Service References/QMSAPI/QMSBackendService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="http://ws.qliktech.com/QMS/11/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:i1="http://ws.qliktech.com/ANY/11/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="QMSBackendService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpBinding_IQMS_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <http:NtlmAuthentication xmlns:http="http://schemas.microsoft.com/ws/06/2004/policy/http" />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="BasicHttpBinding_IQTService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <http:NtlmAuthentication xmlns:http="http://schemas.microsoft.com/ws/06/2004/policy/http" />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:import namespace="http://ws.qliktech.com/QMS/11/" location="http://sesth-rfn:4799/QMS/Service?wsdl=wsdl0" />
  <wsdl:import namespace="http://ws.qliktech.com/ANY/11/" location="http://sesth-rfn:4799/QMS/Service?wsdl=wsdl1" />
  <wsdl:types />
  <wsdl:binding name="BasicHttpBinding_IQMS" type="i0:IQMS">
    <wsp:PolicyReference URI="#BasicHttpBinding_IQMS_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InitiateUploadExtensionObject">
      <soap:operation soapAction="http://ws.qliktech.com/QMS/11/IQMS/InitiateUploadExtensionObject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExceptionFault">
        <soap:fault use="literal" name="ExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="WriteExtensionObject">
      <soap:operation soapAction="http://ws.qliktech.com/QMS/11/IQMS/WriteExtensionObject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExceptionFault">
        <soap:fault use="literal" name="ExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CloseAndInstallExtensionObject">
      <soap:operation soapAction="http://ws.qliktech.com/QMS/11/IQMS/CloseAndInstallExtensionObject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExceptionFault">
        <soap:fault use="literal" name="ExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetCALConfiguration">
      <soap:operation soapAction="http://ws.qliktech.com/QMS/11/IQMS/GetCALConfiguration" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExceptionFault">
        <soap:fault use="literal" name="ExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SaveCALConfiguration">
      <soap:operation soapAction="http://ws.qliktech.com/QMS/11/IQMS/SaveCALConfiguration" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExceptionFault">
        <soap:fault use="literal" name="ExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetCALInfoForUser">
      <soap:operation soapAction="http://ws.qliktech.com/QMS/11/IQMS/GetCALInfoForUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExceptionFault">
        <soap:fault use="literal" name="ExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetQVSPerformanceData">
      <soap:operation soapAction="http://ws.qliktech.com/QMS/11/IQMS/GetQVSPerformanceData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExceptionFault">
        <soap:fault use="literal" name="ExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetQVSUtilizationData">
      <soap:operation soapAction="http://ws.qliktech.com/QMS/11/IQMS/GetQVSUtilizationData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExceptionFault">
        <soap:fault use="literal" name="ExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetQVSDocumentsPerUser">
      <soap:operation soapAction="http://ws.qliktech.com/QMS/11/IQMS/GetQVSDocumentsPerUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExceptionFault">
        <soap:fault use="literal" name="ExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetQVSDocumentsAndUsers">
      <soap:operation soapAction="http://ws.qliktech.com/QMS/11/IQMS/GetQVSDocumentsAndUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExceptionFault">
        <soap:fault use="literal" name="ExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetServerObjectMetaDataForUser">
      <soap:operation soapAction="http://ws.qliktech.com/QMS/11/IQMS/GetServerObjectMetaDataForUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExceptionFault">
        <soap:fault use="literal" name="ExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetServerObjects">
      <soap:operation soapAction="http://ws.qliktech.com/QMS/11/IQMS/GetServerObjects" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExceptionFault">
        <soap:fault use="literal" name="ExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DeleteServerObject">
      <soap:operation soapAction="http://ws.qliktech.com/QMS/11/IQMS/DeleteServerObject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExceptionFault">
        <soap:fault use="literal" name="ExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="TakeServerObject">
      <soap:operation soapAction="http://ws.qliktech.com/QMS/11/IQMS/TakeServerObject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExceptionFault">
        <soap:fault use="literal" name="ExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="LookupNames">
      <soap:operation soapAction="http://ws.qliktech.com/QMS/11/IQMS/LookupNames" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExceptionFault">
        <soap:fault use="literal" name="ExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetDSResources">
      <soap:operation soapAction="http://ws.qliktech.com/QMS/11/IQMS/GetDSResources" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExceptionFault">
        <soap:fault use="literal" name="ExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ResolveUserGroups">
      <soap:operation soapAction="http://ws.qliktech.com/QMS/11/IQMS/ResolveUserGroups" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExceptionFault">
        <soap:fault use="literal" name="ExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetAvailableDSProviders">
      <soap:operation soapAction="http://ws.qliktech.com/QMS/11/IQMS/GetAvailableDSProviders" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExceptionFault">
        <soap:fault use="literal" name="ExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetAvailableDirectories">
      <soap:operation soapAction="http://ws.qliktech.com/QMS/11/IQMS/GetAvailableDirectories" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExceptionFault">
        <soap:fault use="literal" name="ExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SetQVWSAuthentication">
      <soap:operation soapAction="http://ws.qliktech.com/QMS/11/IQMS/SetQVWSAuthentication" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExceptionFault">
        <soap:fault use="literal" name="ExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetQVWSAuthentication">
      <soap:operation soapAction="http://ws.qliktech.com/QMS/11/IQMS/GetQVWSAuthentication" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExceptionFault">
        <soap:fault use="literal" name="ExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RemoteGetServices">
      <soap:operation soapAction="http://ws.qliktech.com/QMS/11/IQMS/RemoteGetServices" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExceptionFault">
        <soap:fault use="literal" name="ExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RemoteGetSourceDocumentFolders">
      <soap:operation soapAction="http://ws.qliktech.com/QMS/11/IQMS/RemoteGetSourceDocumentFolders" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExceptionFault">
        <soap:fault use="literal" name="ExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RemoteGetSourceDocumentNodes">
      <soap:operation soapAction="http://ws.qliktech.com/QMS/11/IQMS/RemoteGetSourceDocumentNodes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExceptionFault">
        <soap:fault use="literal" name="ExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RemoteGetTaskListForDocID">
      <soap:operation soapAction="http://ws.qliktech.com/QMS/11/IQMS/RemoteGetTaskListForDocID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExceptionFault">
        <soap:fault use="literal" name="ExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RemoteGetTasks">
      <soap:operation soapAction="http://ws.qliktech.com/QMS/11/IQMS/RemoteGetTasks" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExceptionFault">
        <soap:fault use="literal" name="ExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RemoteGetDocumentTask">
      <soap:operation soapAction="http://ws.qliktech.com/QMS/11/IQMS/RemoteGetDocumentTask" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExceptionFault">
        <soap:fault use="literal" name="ExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ImportDocumentTask">
      <soap:operation soapAction="http://ws.qliktech.com/QMS/11/IQMS/ImportDocumentTask" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExceptionFault">
        <soap:fault use="literal" name="ExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ImportAllDocumentTasksForQds">
      <soap:operation soapAction="http://ws.qliktech.com/QMS/11/IQMS/ImportAllDocumentTasksForQds" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExceptionFault">
        <soap:fault use="literal" name="ExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetSectionAccessTables">
      <soap:operation soapAction="http://ws.qliktech.com/QMS/11/IQMS/GetSectionAccessTables" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExceptionFault">
        <soap:fault use="literal" name="ExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetSectionAccessTable">
      <soap:operation soapAction="http://ws.qliktech.com/QMS/11/IQMS/GetSectionAccessTable" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExceptionFault">
        <soap:fault use="literal" name="ExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetSectionAccessTableByName">
      <soap:operation soapAction="http://ws.qliktech.com/QMS/11/IQMS/GetSectionAccessTableByName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExceptionFault">
        <soap:fault use="literal" name="ExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SaveSectionAccessTable">
      <soap:operation soapAction="http://ws.qliktech.com/QMS/11/IQMS/SaveSectionAccessTable" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExceptionFault">
        <soap:fault use="literal" name="ExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DeleteSectionAccessTable">
      <soap:operation soapAction="http://ws.qliktech.com/QMS/11/IQMS/DeleteSectionAccessTable" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExceptionFault">
        <soap:fault use="literal" name="ExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="TriggerEDXTask">
      <soap:operation soapAction="http://ws.qliktech.com/QMS/11/IQMS/TriggerEDXTask" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExceptionFault">
        <soap:fault use="literal" name="ExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetEDXTaskStatus">
      <soap:operation soapAction="http://ws.qliktech.com/QMS/11/IQMS/GetEDXTaskStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExceptionFault">
        <soap:fault use="literal" name="ExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RestartQDS">
      <soap:operation soapAction="http://ws.qliktech.com/QMS/11/IQMS/RestartQDS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExceptionFault">
        <soap:fault use="literal" name="ExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="QDSNeedRestart">
      <soap:operation soapAction="http://ws.qliktech.com/QMS/11/IQMS/QDSNeedRestart" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExceptionFault">
        <soap:fault use="literal" name="ExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CreateSession">
      <soap:operation soapAction="http://ws.qliktech.com/QMS/11/IQMS/CreateSession" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExceptionFault">
        <soap:fault use="literal" name="ExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CloseSession">
      <soap:operation soapAction="http://ws.qliktech.com/QMS/11/IQMS/CloseSession" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExceptionFault">
        <soap:fault use="literal" name="ExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="AddSelections">
      <soap:operation soapAction="http://ws.qliktech.com/QMS/11/IQMS/AddSelections" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExceptionFault">
        <soap:fault use="literal" name="ExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetFieldContentList">
      <soap:operation soapAction="http://ws.qliktech.com/QMS/11/IQMS/GetFieldContentList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExceptionFault">
        <soap:fault use="literal" name="ExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetFieldList">
      <soap:operation soapAction="http://ws.qliktech.com/QMS/11/IQMS/GetFieldList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExceptionFault">
        <soap:fault use="literal" name="ExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetDocumentBookmarkNames">
      <soap:operation soapAction="http://ws.qliktech.com/QMS/11/IQMS/GetDocumentBookmarkNames" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExceptionFault">
        <soap:fault use="literal" name="ExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ClearSelections">
      <soap:operation soapAction="http://ws.qliktech.com/QMS/11/IQMS/ClearSelections" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExceptionFault">
        <soap:fault use="literal" name="ExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetReports">
      <soap:operation soapAction="http://ws.qliktech.com/QMS/11/IQMS/GetReports" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExceptionFault">
        <soap:fault use="literal" name="ExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RestartQVS">
      <soap:operation soapAction="http://ws.qliktech.com/QMS/11/IQMS/RestartQVS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExceptionFault">
        <soap:fault use="literal" name="ExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="QVSNeedRestart">
      <soap:operation soapAction="http://ws.qliktech.com/QMS/11/IQMS/QVSNeedRestart" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExceptionFault">
        <soap:fault use="literal" name="ExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetDocumentMetaData">
      <soap:operation soapAction="http://ws.qliktech.com/QMS/11/IQMS/GetDocumentMetaData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExceptionFault">
        <soap:fault use="literal" name="ExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SaveDocumentMetaData">
      <soap:operation soapAction="http://ws.qliktech.com/QMS/11/IQMS/SaveDocumentMetaData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExceptionFault">
        <soap:fault use="literal" name="ExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetUserDocumentNodes">
      <soap:operation soapAction="http://ws.qliktech.com/QMS/11/IQMS/GetUserDocumentNodes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExceptionFault">
        <soap:fault use="literal" name="ExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SaveDocumentTask">
      <soap:operation soapAction="http://ws.qliktech.com/QMS/11/IQMS/SaveDocumentTask" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExceptionFault">
        <soap:fault use="literal" name="ExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetTasks">
      <soap:operation soapAction="http://ws.qliktech.com/QMS/11/IQMS/GetTasks" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExceptionFault">
        <soap:fault use="literal" name="ExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetTask">
      <soap:operation soapAction="http://ws.qliktech.com/QMS/11/IQMS/GetTask" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExceptionFault">
        <soap:fault use="literal" name="ExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="FindTask">
      <soap:operation soapAction="http://ws.qliktech.com/QMS/11/IQMS/FindTask" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExceptionFault">
        <soap:fault use="literal" name="ExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="FindEDX">
      <soap:operation soapAction="http://ws.qliktech.com/QMS/11/IQMS/FindEDX" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExceptionFault">
        <soap:fault use="literal" name="ExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetTasksForDocument">
      <soap:operation soapAction="http://ws.qliktech.com/QMS/11/IQMS/GetTasksForDocument" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExceptionFault">
        <soap:fault use="literal" name="ExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetDocumentTask">
      <soap:operation soapAction="http://ws.qliktech.com/QMS/11/IQMS/GetDocumentTask" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExceptionFault">
        <soap:fault use="literal" name="ExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DeleteTask">
      <soap:operation soapAction="http://ws.qliktech.com/QMS/11/IQMS/DeleteTask" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExceptionFault">
        <soap:fault use="literal" name="ExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RunTask">
      <soap:operation soapAction="http://ws.qliktech.com/QMS/11/IQMS/RunTask" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExceptionFault">
        <soap:fault use="literal" name="ExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="AbortTask">
      <soap:operation soapAction="http://ws.qliktech.com/QMS/11/IQMS/AbortTask" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExceptionFault">
        <soap:fault use="literal" name="ExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetCategories">
      <soap:operation soapAction="http://ws.qliktech.com/QMS/11/IQMS/GetCategories" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExceptionFault">
        <soap:fault use="literal" name="ExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetAlertText">
      <soap:operation soapAction="http://ws.qliktech.com/QMS/11/IQMS/GetAlertText" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExceptionFault">
        <soap:fault use="literal" name="ExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetServiceStatuses">
      <soap:operation soapAction="http://ws.qliktech.com/QMS/11/IQMS/GetServiceStatuses" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExceptionFault">
        <soap:fault use="literal" name="ExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Ping">
      <soap:operation soapAction="http://ws.qliktech.com/QMS/11/IQMS/Ping" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExceptionFault">
        <soap:fault use="literal" name="ExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetTaskStatusNodes">
      <soap:operation soapAction="http://ws.qliktech.com/QMS/11/IQMS/GetTaskStatusNodes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExceptionFault">
        <soap:fault use="literal" name="ExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetTaskStatuses">
      <soap:operation soapAction="http://ws.qliktech.com/QMS/11/IQMS/GetTaskStatuses" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExceptionFault">
        <soap:fault use="literal" name="ExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetTaskStatus">
      <soap:operation soapAction="http://ws.qliktech.com/QMS/11/IQMS/GetTaskStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExceptionFault">
        <soap:fault use="literal" name="ExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetTimeLimitedServiceKey">
      <soap:operation soapAction="http://ws.qliktech.com/QMS/11/IQMS/GetTimeLimitedServiceKey" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExceptionFault">
        <soap:fault use="literal" name="ExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SaveLicense">
      <soap:operation soapAction="http://ws.qliktech.com/QMS/11/IQMS/SaveLicense" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExceptionFault">
        <soap:fault use="literal" name="ExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetLicense">
      <soap:operation soapAction="http://ws.qliktech.com/QMS/11/IQMS/GetLicense" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExceptionFault">
        <soap:fault use="literal" name="ExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ClearLicense">
      <soap:operation soapAction="http://ws.qliktech.com/QMS/11/IQMS/ClearLicense" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExceptionFault">
        <soap:fault use="literal" name="ExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateLicense">
      <soap:operation soapAction="http://ws.qliktech.com/QMS/11/IQMS/UpdateLicense" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExceptionFault">
        <soap:fault use="literal" name="ExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ValidateLicense">
      <soap:operation soapAction="http://ws.qliktech.com/QMS/11/IQMS/ValidateLicense" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExceptionFault">
        <soap:fault use="literal" name="ExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ServiceHasValidLicense">
      <soap:operation soapAction="http://ws.qliktech.com/QMS/11/IQMS/ServiceHasValidLicense" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExceptionFault">
        <soap:fault use="literal" name="ExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetQVSSettings">
      <soap:operation soapAction="http://ws.qliktech.com/QMS/11/IQMS/GetQVSSettings" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExceptionFault">
        <soap:fault use="literal" name="ExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SaveQVSSettings">
      <soap:operation soapAction="http://ws.qliktech.com/QMS/11/IQMS/SaveQVSSettings" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExceptionFault">
        <soap:fault use="literal" name="ExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetServices">
      <soap:operation soapAction="http://ws.qliktech.com/QMS/11/IQMS/GetServices" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExceptionFault">
        <soap:fault use="literal" name="ExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ClearQVSCache">
      <soap:operation soapAction="http://ws.qliktech.com/QMS/11/IQMS/ClearQVSCache" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExceptionFault">
        <soap:fault use="literal" name="ExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetQDSSettings">
      <soap:operation soapAction="http://ws.qliktech.com/QMS/11/IQMS/GetQDSSettings" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExceptionFault">
        <soap:fault use="literal" name="ExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SaveQDSSettings">
      <soap:operation soapAction="http://ws.qliktech.com/QMS/11/IQMS/SaveQDSSettings" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExceptionFault">
        <soap:fault use="literal" name="ExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SendDistributionServiceWorkorder">
      <soap:operation soapAction="http://ws.qliktech.com/QMS/11/IQMS/SendDistributionServiceWorkorder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExceptionFault">
        <soap:fault use="literal" name="ExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="IsPublisherQDS">
      <soap:operation soapAction="http://ws.qliktech.com/QMS/11/IQMS/IsPublisherQDS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExceptionFault">
        <soap:fault use="literal" name="ExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetDocumentFolder">
      <soap:operation soapAction="http://ws.qliktech.com/QMS/11/IQMS/GetDocumentFolder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExceptionFault">
        <soap:fault use="literal" name="ExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetUserDocumentFolders">
      <soap:operation soapAction="http://ws.qliktech.com/QMS/11/IQMS/GetUserDocumentFolders" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExceptionFault">
        <soap:fault use="literal" name="ExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetSourceDocumentFolders">
      <soap:operation soapAction="http://ws.qliktech.com/QMS/11/IQMS/GetSourceDocumentFolders" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExceptionFault">
        <soap:fault use="literal" name="ExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetSourceDocuments">
      <soap:operation soapAction="http://ws.qliktech.com/QMS/11/IQMS/GetSourceDocuments" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExceptionFault">
        <soap:fault use="literal" name="ExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetSourceDocumentNodes">
      <soap:operation soapAction="http://ws.qliktech.com/QMS/11/IQMS/GetSourceDocumentNodes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExceptionFault">
        <soap:fault use="literal" name="ExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetUserDocuments">
      <soap:operation soapAction="http://ws.qliktech.com/QMS/11/IQMS/GetUserDocuments" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExceptionFault">
        <soap:fault use="literal" name="ExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_IQTService" type="i1:IQTService">
    <wsp:PolicyReference URI="#BasicHttpBinding_IQTService_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Ping">
      <soap:operation soapAction="http://ws.qliktech.com/ANY/11/IQTService/Ping" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExceptionFault">
        <soap:fault use="literal" name="ExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetKey">
      <soap:operation soapAction="http://ws.qliktech.com/ANY/11/IQTService/GetKey" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExceptionFault">
        <soap:fault use="literal" name="ExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetTimeLimitedRequestKey">
      <soap:operation soapAction="http://ws.qliktech.com/ANY/11/IQTService/GetTimeLimitedRequestKey" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExceptionFault">
        <soap:fault use="literal" name="ExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetSystemInformation">
      <soap:operation soapAction="http://ws.qliktech.com/ANY/11/IQTService/GetSystemInformation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExceptionFault">
        <soap:fault use="literal" name="ExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="QMSBackendService">
    <wsdl:port name="BasicHttpBinding_IQMS" binding="tns:BasicHttpBinding_IQMS">
      <soap:address location="http://sesth-rfn:4799/QMS/Service" />
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_IQTService" binding="tns:BasicHttpBinding_IQTService">
      <soap:address location="http://sesth-rfn:4799/ANY/Service" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>