qv-edx-trigger/Service References/QMSAPI/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://ws.qliktech.com/ANY/11/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://ws.qliktech.com/ANY/11/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://ws.qliktech.com/ANY/11/Imports">
      <xsd:import schemaLocation="http://sesth-rfn:4799/QMS/Service?xsd=xsd9" namespace="http://ws.qliktech.com/ANY/11/" />
      <xsd:import schemaLocation="http://sesth-rfn:4799/QMS/Service?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System" />
      <xsd:import schemaLocation="http://sesth-rfn:4799/QMS/Service?xsd=xsd0" namespace="http://ws.qliktech.com/QMS/11/" />
      <xsd:import schemaLocation="http://sesth-rfn:4799/QMS/Service?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://sesth-rfn:4799/QMS/Service?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PIX.QMSAPI.DataObjects" />
      <xsd:import schemaLocation="http://sesth-rfn:4799/QMS/Service?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://sesth-rfn:4799/QMS/Service?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/PIX.QMSAPI.DataObjects.CALs" />
      <xsd:import schemaLocation="http://sesth-rfn:4799/QMS/Service?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/PIX.QMSAPI.DataObjects.Enums" />
      <xsd:import schemaLocation="http://sesth-rfn:4799/QMS/Service?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/PIX.QMSAPI.DataObjects.Triggers" />
      <xsd:import schemaLocation="http://sesth-rfn:4799/QMS/Service?xsd=xsd8" namespace="http://schemas.datacontract.org/2004/07/PIX.QMSAPI.DataObjects.Document" />
      <xsd:import schemaLocation="http://sesth-rfn:4799/QMS/Service?xsd=xsd10" namespace="http://schemas.datacontract.org/2004/07/PIX" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IQTService_Ping_InputMessage">
    <wsdl:part name="parameters" element="tns:Ping" />
  </wsdl:message>
  <wsdl:message name="IQTService_Ping_OutputMessage">
    <wsdl:part name="parameters" element="tns:PingResponse" />
  </wsdl:message>
  <wsdl:message name="IQTService_Ping_ExceptionFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/System" name="detail" element="q1:Exception" />
  </wsdl:message>
  <wsdl:message name="IQTService_GetKey_InputMessage">
    <wsdl:part name="parameters" element="tns:GetKey" />
  </wsdl:message>
  <wsdl:message name="IQTService_GetKey_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetKeyResponse" />
  </wsdl:message>
  <wsdl:message name="IQTService_GetKey_ExceptionFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/System" name="detail" element="q2:Exception" />
  </wsdl:message>
  <wsdl:message name="IQTService_GetTimeLimitedRequestKey_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTimeLimitedRequestKey" />
  </wsdl:message>
  <wsdl:message name="IQTService_GetTimeLimitedRequestKey_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTimeLimitedRequestKeyResponse" />
  </wsdl:message>
  <wsdl:message name="IQTService_GetTimeLimitedRequestKey_ExceptionFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/System" name="detail" element="q3:Exception" />
  </wsdl:message>
  <wsdl:message name="IQTService_GetSystemInformation_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSystemInformation" />
  </wsdl:message>
  <wsdl:message name="IQTService_GetSystemInformation_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSystemInformationResponse" />
  </wsdl:message>
  <wsdl:message name="IQTService_GetSystemInformation_ExceptionFault_FaultMessage">
    <wsdl:part xmlns:q4="http://schemas.datacontract.org/2004/07/System" name="detail" element="q4:Exception" />
  </wsdl:message>
  <wsdl:portType name="IQTService">
    <wsdl:operation name="Ping">
      <wsdl:input wsaw:Action="http://ws.qliktech.com/ANY/11/IQTService/Ping" message="tns:IQTService_Ping_InputMessage" />
      <wsdl:output wsaw:Action="http://ws.qliktech.com/ANY/11/IQTService/PingResponse" message="tns:IQTService_Ping_OutputMessage" />
      <wsdl:fault wsaw:Action="http://ws.qliktech.com/ANY/11/IQTService/PingExceptionFault" name="ExceptionFault" message="tns:IQTService_Ping_ExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetKey">
      <wsdl:input wsaw:Action="http://ws.qliktech.com/ANY/11/IQTService/GetKey" message="tns:IQTService_GetKey_InputMessage" />
      <wsdl:output wsaw:Action="http://ws.qliktech.com/ANY/11/IQTService/GetKeyResponse" message="tns:IQTService_GetKey_OutputMessage" />
      <wsdl:fault wsaw:Action="http://ws.qliktech.com/ANY/11/IQTService/GetKeyExceptionFault" name="ExceptionFault" message="tns:IQTService_GetKey_ExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTimeLimitedRequestKey">
      <wsdl:input wsaw:Action="http://ws.qliktech.com/ANY/11/IQTService/GetTimeLimitedRequestKey" message="tns:IQTService_GetTimeLimitedRequestKey_InputMessage" />
      <wsdl:output wsaw:Action="http://ws.qliktech.com/ANY/11/IQTService/GetTimeLimitedRequestKeyResponse" message="tns:IQTService_GetTimeLimitedRequestKey_OutputMessage" />
      <wsdl:fault wsaw:Action="http://ws.qliktech.com/ANY/11/IQTService/GetTimeLimitedRequestKeyExceptionFault" name="ExceptionFault" message="tns:IQTService_GetTimeLimitedRequestKey_ExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSystemInformation">
      <wsdl:input wsaw:Action="http://ws.qliktech.com/ANY/11/IQTService/GetSystemInformation" message="tns:IQTService_GetSystemInformation_InputMessage" />
      <wsdl:output wsaw:Action="http://ws.qliktech.com/ANY/11/IQTService/GetSystemInformationResponse" message="tns:IQTService_GetSystemInformation_OutputMessage" />
      <wsdl:fault wsaw:Action="http://ws.qliktech.com/ANY/11/IQTService/GetSystemInformationExceptionFault" name="ExceptionFault" message="tns:IQTService_GetSystemInformation_ExceptionFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>